@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root{
    --main-bg-color:#2874f0;
}

*{
    margin: 0px;
    padding: 0px;

}
header{
    font-family: 'Fira Sans', sans-serif;
    background-color:var(--main-bg-color) ;
  
}
nav{
    display: flex;
   
}
.logo{
    display: flex;
    align-items: center;
} 
.logo img{
    width: 88px;
    padding: 0 25px;
}
.card{
    max-width:91vw ;
    margin:37px auto ;
    font-family: 'Fira Sans', sans-serif;
}
nav ul{
    justify-content: flex-start;
    height: 55px;
    display: flex;
   align-items: center; 
}
nav ul li{
    list-style: none;
    padding: 0 23px;
   
}
nav ul li a{
       color: aliceblue;
       text-decoration: none;
}
nav ul li a:hover{
    font-weight:bolder;
}

footer{
    background-color:var(--main-bg-color);
    color: white;
    height: 12vh;
    font-family: 'Fira Sans', sans-serif;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.search input{
    width:80vh ;
    height:25px ;
    border-radius:10px ;
    margin:0 16px 0px 56px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.container{
     min-height: calc( 148vh - 55vh - 12vh);
}

.btn{
    align-items: center;
    justify-content: center;
}

/* .slider{
    margin: 12px auto;
    width: 65vw;
    height: 10px;
} */
.slider{ 
    
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
    

}
.card-items{
    display:flex;
    justify-content: unset;
    flex-direction: column;
    margin: 0 80px;
    width:  120px;
    
}
.cards{
    display: flex; 
    overflow: hidden;

   
}
